@model Models.Pagos

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NegocioID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NegocioID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
    </dl>
    <div class="form-row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="PagoID" />
            <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
            <a class="btn btn-lg btn-warning" asp-action="Index">Volver a la lista</a>
        </form>
    </div>
</div>
