@model Models.Pagos

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NegocioID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NegocioID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-lg btn-success pull-right" asp-action="Edit" asp-route-id="@Model.PagoID">Editar</a>
    <a class="btn btn-lg btn-warning" asp-action="Index">Volver a la lista</a>
</div>
