@model PromYourSelf.Models.TipoClasificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoClasificacion</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-lg btn-success pull-right" asp-action="Edit" asp-route-id="@Model.TipoClasificacionID">Editar</a> |
    <a class="btn btn-lg btn-warning" asp-action="Index">Volver a la lista</a>
</div>
