@model Models.Productos

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "Edit";
    Button.TextButtonSaveOrEdit = "Editar";
    Button.ShowButtonReset = false;
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    cardHeader.Text = "Información de Producto";
    ViewData["Title"] = cardHeader.Text;
}

<div>

    <div class="card shadow mb-4">
        <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">@cardHeader.Text</h1></div>

        <div class="card-body">

            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Datos</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Fotos">Fotos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div class="card shadow mb-4">     
                        <div class="card-body">
                            <div class="row">
                                @{
                                    foreach (EtiquetasDetails etiqueta in Model.Etiquetas)
                                    {
                                        <span class="ml-1 badge badge-info">@etiqueta.Etiqueta.Nombre</span>
                                    }
                                }
                            </div> <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descripcion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Unidad)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Unidad)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Stock)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Stock)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Precio)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Precio)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PrecioOferta)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PrecioOferta)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TipoProductos)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TipoProductos)
                                </dd>
                            </dl>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <div class="form-group col-12 " display: inline-block>
                                    <a class="btn btn-lg btn-success pull-right" asp-action="Edit" asp-route-id="@Model.ProductoID">Editar</a>
                                    <a class="btn btn-lg btn-warning" asp-action="Index">Volver a la lista</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="Fotos">                                    
                    <hr />
                    <div id="fotosPreview">
                        @foreach (var foto in Model.Fotos)
                        {
                            <img src="@foto.Foto" class="m-1" style="max-width:300px;" />
                        }
                    </div>
                   
                </div>
            </div>
        </div>    
    </div>
 
</div>

