@model ReflectionIT.Mvc.Paging.PagingList<Models.Productos>


@{
    string Titulo = "Listado  de Productos";
    ViewData["Title"] = Titulo;
    string Edit = "Edit";
    string Delete = "Delete";
    string Details = "Details";

}

<br />
<div class="card shadow">
    <div class="card-header">
        <form method="get" asp-action="Index">
            <div class="form-row justify-content-between">
                <div class="form-inline">
                    <input name="filter" class="form-control" placeholder="Filtro"
                           value="@Model.RouteValue["Filter"]" />
                    <button type="submit" class="ml-2 btn  btn-primary">
                        <i class="fas fa-search" aria-hidden="true">&nbsp;Buscar</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Descripcion)
                        </th>
                        @*<th>
                            @Html.SortableHeaderFor(model => model.Costo)
                        </th>*@
                        <th>
                            @Html.SortableHeaderFor(model => model.Precio)
                        </th>

                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Costo)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <partial name="_ActionsPartialView" model="new Actions() { Key =item.ProductoID,EditAction=Edit,DetailsAction=Details,DeleteAction=Delete  }" />
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_PaginationPartialView" model="this.Model" />

        </div>
    </div>
</div>
@*<div class="card shadow">
        <div class="card-body">
            <partial name="_CreateOrEditPartialView" model="Model" />
        </div>
    </div>*@
