@model ReflectionIT.Mvc.Paging.PagingList<Models.Productos>


@{
    string Titulo = "Listado  de Productos";
    ViewData["Title"] = Titulo;
    string Edit = "Edit";
    string Delete = "Delete";
    string Details = "Details";
    int PageSize = 1;
}

<h1>Productos</h1>

<div>
    <form method="get" asp-action="Index">
        <div class="form-row justify-content-between">
            <div class="form-inline">
                <input name="filter" class="form-control" placeholder="Filtro"
                       value="@Model.RouteValue["Filter"]" />
                <button type="submit" class="btn  btn-primary">
                    <i class="fas fa-search" aria-hidden="true">Buscar</i>
                </button>
            </div>
            <div class="form-group">
                <select asp-for="@PageSize" class="form-control">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>

    </form>
</div>
<br />
<div class="card shadow">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Unidad)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Stock)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Precio)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.PrecioOferta)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.TipoProductos)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.CreadoPor)
                        </th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Unidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioOferta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoProductos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreadoPor)
                            </td>
                            <td>
                                <partial name="_ActionsPartialView" model="new Actions() { Key =item.ProductoID,EditAction=Edit,DetailsAction=Details,DeleteAction=Delete  }" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_PaginationPartialView" model="this.Model" />
        </div>
</div>
</div>
