<!DOCTYPE html>
@{
    string fotoUrl = _appSettings.Value.UserSinFoto;
    if (User.GetFoto() != null)
    {
        fotoUrl = _appSettings.Value.UrlFotosUsuario + @User.GetFoto();
    }
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PromYourSelf</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/fontawesome-free-5.13.1/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/js/sweetAlert/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css" />

    <script src="~/vendor/jquery/jquery-3.5.1.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.js"></script>

    <script src="~/js/sweetAlert/sweetalert2.min.js"></script>
    <script src="~/js/VueJs/vue.js"></script>
    <script src="~/js/VueJs/axios.min.js"></script>

    <script src="~/js/sweetAlert/sweetalert2.all.min.js"></script>
    <script src="~/js/profile-image-manager.js"></script>

</head>
<body id="page-top">

    <div id="wrapper">
        <input type="hidden" id="_posicionId" value="@User.GetPosicion().ToInt()" v-model="posicion" />
        <input type="hidden" id="_usuarioId" value="@User.GetUserID().ToInt()" v-model="usuarioId" />
        <input type="hidden" id="_empresaId" value="@User.GetEmpresaID().ToInt() " v-model="empresaId" />
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="DashBoard" asp-action="DashBoard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Prom YourSelf</div>
            </a>
            <!-- Divider -->
            @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
            {
                <hr class="sidebar-divider my-0" />

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="DashBoard" asp-action="Dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
            }
            <!-- Heading -->
            <div class="sidebar-heading">
                Menú
            </div>
            <li class="nav-item">
                <a class="nav-link" asp-controller="negocios" asp-action="index" aria-expanded="true" aria-controls="collapseExplorar">
                    @*<i class="fas fa-fw fa-business-time"></i>*@
                    <i class="fas fa-street-view"></i>
                    <span>Explorar</span>
                </a>
            </li>  @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
            {

                <li class="nav-item">
                    <a class="nav-link" asp-controller="citas" asp-action="historial" aria-expanded="true" aria-controls="collapseExplorar">
                        @*<i class="fas fa-fw fa-business-time"></i>*@
                        <i class="fas fa-street-view"></i>
                        <span>Historial de Citas</span>
                    </a>
                </li>
            }
            <!-- Nav Item - Pages Collapse Menu -->
            <!--INICIO DE SUBMENU USUARIOS-->
            @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
            {
                @*<li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios" aria-expanded="true" aria-controls="collapseUsuarios">
                            <i class="fas fa-fw fa-user-plus"></i>
                            <span>Usuarios</span>
                        </a>
                        <div id="collapseUsuarios" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" asp-controller="usuarios" asp-action="index">Listado de Usuarios</a>
                                <a class="collapse-item" asp-controller="usuarios" asp-action="create">Nuevo Usuario</a>
                            </div>
                        </div>
                    </li>*@
                <!--FIN DE SUBMENU USUARIOS-->
                <!--INICIO DE SUBMENU NEGOCIOS-->


                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("MiNegocio", "negocios", new { Id = User.GetUserID() })">
                        <i class="fas fa-home"></i>
                        <span>Mi Negocio</span>
                    </a>
                </li>

                <!--INICIO DE SUBMENU ventas-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseventas" aria-expanded="true" aria-controls="collapseventas">
                        <i class="fas fa-fw fa-th"></i>
                        <span>Ventas</span>
                    </a>
                    <div id="collapseventas" class="collapse" aria-labelledby="collapseventas" data-parent="#collapseventas">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @*<h6 class="collapse-header">Custom Components:</h6>*@
                            <a class="collapse-item" asp-controller="ventas" asp-action="index">Listado de ventas</a>
                            <a class="collapse-item" asp-controller="ventas" asp-action="create">Nueva venta</a>
                        </div>
                    </div>
                </li>
                <!--FIN DE SUBMENU ventas-->
            }

            <!--FIN DE SUBMENU NEGOCIOS-->
            <!--INICIO DE SUBMENU PRODUCTOS-->
            @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseproductos" aria-expanded="true" aria-controls="collapseproductos">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Productos</span>
                    </a>
                    <div id="collapseproductos" class="collapse" aria-labelledby="collapseproductos" data-parent="#collapseproductos">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @*<h6 class="collapse-header">Custom Components:</h6>*@
                            <a class="collapse-item" asp-controller="productos" asp-action="index">Listado de productos</a>
                            <a class="collapse-item" asp-controller="productos" asp-action="create">Nuevo producto</a>
                        </div>
                    </div>
                </li>
                <!--INICIO DE SUBMENU PAGOS-->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsepagos" aria-expanded="true" aria-controls="collapsepagos">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Pagos</span>
                    </a>
                    <div id="collapsepagos" class="collapse" aria-labelledby="collapsepagos" data-parent="#collapsepagos">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @*<h6 class="collapse-header">Custom Components:</h6>*@
                            <a class="collapse-item" asp-controller="pagos" asp-action="index">Listado de Pagos</a>
                            <a class="collapse-item" asp-controller="pagos" asp-action="create">Nuevo Pago</a>
                        </div>
                    </div>
                </li>

                <!--FIN DE SUBMENU PRODUCTOS-->
            }
            <!--INICIO DE SUBMENU TIPOS CLASIFICACIONES-->
            @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetipoclasificaciones" aria-expanded="true" aria-controls="collapsetipoclasificaciones">
                        <i class="fas fa-fw fa-book"></i>
                        <span>Tipo Clasificaciones</span>
                    </a>
                    <div id="collapsetipoclasificaciones" class="collapse" aria-labelledby="collapsetipoclasificaciones" data-parent="#collapsetipoclasificaciones">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @*<h6 class="collapse-header">Custom Components:</h6>*@
                            <a class="collapse-item" asp-controller="TipoClasificacions" asp-action="index">Listado de Clasificaciones</a>
                            <a class="collapse-item" asp-controller="TipoClasificacions" asp-action="create">Nuevo Tipo de clasificaci&oacute;n</a>
                        </div>
                    </div>
                </li>
                <!--FIN DE SUBMENU CLASIFICACIONES-->
            }
            <div class="text-center d-none d-md-inline">
                <button id="sidebarToggle" name="menulateral" class=".esconder rounded-circle border-0 "></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="app-topbar">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>


                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>


                            <!-- Nav Item - ===================================== -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="citasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <!-- Counter - Alerts -->
                                    <span class="badge badge-danger badge-counter">{{citas.length}}</span>
                                </a>
                                <!-- Dropdown - Alerts -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="citasDropdown">
                                    <h6 class="dropdown-header">
                                        Citas Pendientes
                                    </h6>
                                    <div v-for="cita in citas" class="dropdown-item d-flex align-items-center" v-bind:href="'https://localhost:44386/Citas/Details/'+ cita.cita.CitaID">
                                        <div class="mr-1">
                                            @*<div class="icon-circle bg-primary">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>*@
                                            <div class="icon-circle bg-warning">
                                                <i class="fas fa-exclamation-triangle text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">{{cita.cita.FechaInicio}}</div>
                                            <span class="font-weight-bold">{{cita.producto.Nombre}}</span>
                                            <span class="font-weight-bold text-success">{{cita.producto.Precio}}</span>
                                        </div>
                                        <div class="ml-auto">
                                            @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
                                            {<a v-if="empresaId==cita.cita.NegocioID" v-on:click="aceptarCita(cita.cita.CitaID)" class="btn btn-sm btn-success text-white"><i class="fas fa-check"></i></a>}
                                            &nbsp;
                                            <a class="btn btn-sm btn-danger text-white" v-on:click="aceptarCita(cita.cita.CitaID, 4)"><i class="fas fa-window-close"></i></a>
                                        </div>
                                    </div>
                                    <a class="dropdown-item text-center small text-gray-500" asp-controller="citas" asp-action="historial">Ver Historial de Citas</a>
                                </div>

                            </li>

                            <!-- ========================================= -->
                            <!-- Nav Item - Messages -->
                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-envelope fa-fw"></i>
                                    <!-- Counter - Messages -->
                                    @*<span class="badge badge-danger badge-counter">7</span>*@
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                    <h6 class="dropdown-header">
                                        Message Center
                                    </h6>
                                    <a v-for="mensaje in mensajes" class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="~/img/avatar.png" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate">{{mensaje.Contenido}}</div>
                                            <div class="small text-gray-500">{{mensaje.NombreComercial}}</div>
                                        </div>
                                    </a>
                                    <h3 class="text-center" v-if="mensajes.length <= 0">No hay mensajes!</h3>
                                    <a class="dropdown-item text-center small text-gray-500" asp-controller="mensajes" asp-action="create">Read More Messages</a>
                                </div>
                            </li>


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.GetNombre() - @User.GetPosicion()</span>
                                    <img class="img-profile rounded-circle" src="@Url.Content(fotoUrl)">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    @if (User.GetUserID().ToInt() > 0)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Profile","Usuarios",new { Id=User.GetUserID()})">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Perfil
                                        </a>

                                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Usuarios")">
                                            <i class="fas fa-shield-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Cambiar Contrase&ntilde;a
                                        </a>
                                    }
                                    @if (User.GetEmpresaID().ToInt() == 0 && User.GetPosicion().Equals(Models.Posicion.Normal.GetDescription()))
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Create", "negocios", new { Id = User.GetUserID() })">
                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Cambiar a Cuenta Empresarial
                                        </a>
                                    }
                                    @if (User.GetEmpresaID().ToInt() > 0)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Edit", "negocios", new { id = User.GetEmpresaID().ToInt() })">
                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Modificar Negocio
                                        </a>

                                        if (User.GetHorarioID().ToInt() == 0)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("Create", "Horarios", new { id = User.GetHorarioID().ToInt() })">
                                                <i class="far fa-clock fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Crear Horario
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="@Url.Action("Edit", "Horarios", new { id = User.GetHorarioID().ToInt() })">
                                                <i class="far fa-clock fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Modificar Horario
                                            </a>
                                        }

                                    }
                                    <div class="dropdown-divider"></div>
                                    @if (User.GetUserID().ToInt() <= 0)
                                    {
                                        <a class="dropdown-item" href="@Url.Action("Login","EntradaApp")">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Iniciar Sesi&oacute;n
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Register","EntradaApp")">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Registrarse
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Cerrar Sesi&oacute;n
                                        </a>
                                    }

                                </div>
                            </li>
                        </ul>

                    </nav>
                </div>
                <breadcrumb asp-homepage-title="Inicio"
                            asp-homepage-url="@Url.Action("Index","Home")"
                            asp-bootstrap-version="V4"
                            asp-homepage-glyphicon="fas fa-home">

                </breadcrumb>


                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <partial name="_CookieConsentPartial" />
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PromYourSelf-@DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <form method="post" asp-action="Logout" asp-controller="EntradaApp">
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea cerrar sesión?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Presion "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Cerrar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @if (TempData["SweetAlert"] != null)
    {
        <script type="text/javascript">
            @Html.Raw(TempData["SweetAlert"])
        </script>

    }
    <script type="text/javascript">
        function ToastSweetAlert(Type, Titulo) {

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            Toast.fire({
                type: Type,
                title: Titulo
            });
        }
    </script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>

        var app_topbar = new Vue({
            el: '#app-topbar',
            data: {
                citas: [],
                mensajes: [],
                posicion: 0,
                usuarioId: 0,
                empresaId: 0

            },
            methods: {
                getCitas: function () {
                    axios.get("https://localhost:44386" + "/Citas/GetCitas").then(response => {
                        app_topbar.citas = [];
                        let res = JSON.parse(response.data);
                        console.log('res', res);
                        for (let i = 0; i < res.length; i++) {
                            app_topbar.citas.push(res[i]);
                        }
                        app_topbar.citas = app_topbar.citas.filter(x => x.cita.Estado == 0);
                    }).catch(err => {
                        console.log('ha ocurrido un error', err);
                        alert('Ha ocurrido un error');
                    })
                },
                getMensajes: function () {
                    axios.get("https://localhost:44386" + "/Mensajes/GetMessages").then(response => {
                        app_topbar.mensajes = [];
                        let res = JSON.parse(response.data);
                        res = res.filter(x => x.UsuarioID != app_topbar.usuarioId);
                        console.log('res mensajes join', res);
                        for (let i = 0; i < res.length; i++) {
                            if (i == 5) return;
                            app_topbar.mensajes.push(res[i]);
                        }

                    }).catch(err => {
                        console.log('ha ocurrido un error', err);
                        alert('Ha ocurrido un error');
                    })
                },
                aceptarCita(citaId, estado = -1) {
                    console.log("CITA ID", citaId);
                    axios.post("https://localhost:44386" + "/Citas/Aceptar/" + citaId + "?estado=" + estado).then(response => {
                        app_topbar.citas = [];
                        let res = JSON.parse(response.data);
                        if (res == true || res == "true") {
                            if (estado == 4) {
                                ToastSweetAlert('success', 'Cita Cancelada!');
                            }
                            app_topbar.getCitas();
                        } else {
                            ToastSweetAlert('danger', 'Error al intentar procesar su peticion!');
                        }

                    }).catch(err => {
                        console.log('ha ocurrido un error', err);
                        alert('Ha ocurrido un error');
                    })
                }

            }
        });

        $(document).ready(function () {
            app_topbar.usuarioId = $("#_usuarioId").val();
            app_topbar.empresaId = $("#_empresaId").val();
            console.log("usuarioId", parseInt(app_topbar.usuarioId));
            if (parseInt(app_topbar.usuarioId) > 0) {
                var connection = new signalR.HubConnectionBuilder().withUrl('/ChatHub').build();
                connection.start().catch(function (err) {
                    console.error("Error intantendo conectar el chat", err);
                });
                //Escribir funcion para invocar envio de mensaje
                connection.on("newNotification", (mensaje) => {
                    console.log('nueva notificacion');
                    app_topbar.getCitas();
                });
            }
        });

        app_topbar.getCitas();
        app_topbar.getMensajes();
    </script>
    <script type="text/javascript">
        (function ($) {
            "use strict"; // Start of use strict

            // Toggle the side navigation
            $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
                if ($(".sidebar").hasClass("toggled")) {
                    $('.sidebar .collapse').collapse('hide');
                };
            });

            // Close any open menu accordions when window is resized below 768px
            $(window).resize(function () {
                if ($(window).width() < 768) {
                    $('.sidebar .collapse').collapse('hide');
                };
            });

            // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
            $('body.fixed-nav .sidebar').on('mousewheel DOMMouseScroll wheel', function (e) {
                if ($(window).width() > 768) {
                    var e0 = e.originalEvent,
                        delta = e0.wheelDelta || -e0.detail;
                    this.scrollTop += (delta < 0 ? 1 : -1) * 30;
                    e.preventDefault();
                }
            });

            // Scroll to top button appear
            $(document).on('scroll', function () {
                var scrollDistance = $(this).scrollTop();
                if (scrollDistance > 100) {
                    $('.scroll-to-top').fadeIn();
                } else {
                    $('.scroll-to-top').fadeOut();
                }
            });

            // Smooth scrolling using jQuery easing
            $(document).on('click', 'a.scroll-to-top', function (e) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: ($($anchor.attr('href')).offset().top)
                }, 1000, 'easeInOutExpo');
                e.preventDefault();
            });

        })(jQuery); // End of use strict

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
