@model Models.Ventas

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CitaID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CitaID)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VentaID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-lg btn-warning" asp-action="Index">Volver a la lista</a>
    </form>
</div>
