@model Models.Ventas

@{
    ViewData["Title"] = "Details";
}
<div id="app_venta_detalle">
    <div class="card">
        <div class="card-header">                      
            <div class="row">
                <div class="col-10">
                    <h2 class="card-title">Detalle de Venta</h2>
                </div>
                <div class="col-2"><p class="pull-right">@Html.DisplayFor(model => model.Fecha)</p></div>
            </div>      
            <h2 class="text-success" style="font-weight: bold"> @Model.Monto.ToString(("C"))</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 0;
                        foreach (var detalle in Model.Details)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@detalle.Producto.Nombre</td>
                                <td>@detalle.Cantidad</td>
                                <td>@detalle.Precio</td>
                                <td>@(detalle.Cantidad * detalle.Precio)</td>
                            </tr>
                        }}

                </tbody>                
            </table>
        </div>
    </div> 
    <div>
        <a asp-action="Edit" asp-route-id="@Model.VentaID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
