@model ReflectionIT.Mvc.Paging.PagingList<VentasIndexViewModel>

@{
    string Titulo = "Listado  de Ventas";
    ViewData["Title"] = Titulo;
    int PageSize = 1;
    string Edit = "Edit";
    string Delete = "Delete";
    string Details = "Details";
}

<h1>Ventas</h1>
<div>
    <form method="get" asp-action="Index">
        <div class="form-row justify-content-between">
            <div class="form-inline">
                <input name="filter" class="form-control" placeholder="Filtro"
                       value="@Model.RouteValue["Filter"]" />
                <button type="submit" class="btn  btn-primary">
                    <i class="fas fa-search" aria-hidden="true">Buscar</i>
                </button>
            </div>
            <div class="form-group">
                <select asp-for="@PageSize" class="form-control">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>

    </form>
</div>
<br />
<div class="card shadow">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.SortableHeaderFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Nombres)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.Monto)
                        </th>
                        <th>
                            @Html.SortableHeaderFor(model => model.CitaID)
                        </th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CitaID)
                        </td>
                        <partial name="_ActionsPartialView" model="new Actions() { Key =item.VentaID,EditAction=Edit,DetailsAction=Details,DeleteAction=Delete  }" />
                    </tr>
                    }
                </tbody>
            </table>
            <partial name="_PaginationPartialView" model="this.Model" />

        </div>
    </div>
</div>