@model PromYourSelf.ViewModels.CitasViewModel

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    Button.ActionButtonSaveOrEdit = "Create";
    Button.TextButtonSaveOrEdit = "Guardar";
    Button.ShowButtonBackToList = false;
    bool EsPrimeraImagen = true;
    bool EsPrimerindex = true;
    cardHeader.Text = "Proceso de cita";
    ViewData["Title"] = cardHeader.Text;
}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card shadow mb-4">
        @*<div class="card-header"><h1 class="m-0 font-weight-bold text-primary">o</h1></div>*@
        @*<input type="hidden" asp-for="Producto.ProductoID"  />
            <input type="hidden" asp-for="Negocio.NegocioID"/>*@
        <input type="hidden" asp-for="ProductoID" />
        <input type="hidden" asp-for="NegocioID" />
        <div class="card text-center">
            <partial name="_CardHeaderPartialView" model="cardHeader" />
            <div class="card-body row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            @if (Model != null)
                            {
                                @foreach (var item in Model.FotosProductos)
                                {
                                    int i = 0;
                                    @if (EsPrimerindex)
                                    {
                                        <li data-target="#demo" data-slide-to="@i" class="active"></li>
                                        EsPrimerindex = false;
                                    }
                                    else
                                    {
                                        <li data-target="#demo" data-slide-to="@i"></li>
                                    }
                                    i++;
                                }
                            }
                        </ul>
                        <div class="carousel-inner">
                            @if (Model != null)
                            {
                                @foreach (var item in Model.FotosProductos)
                                {
                                    @if (EsPrimeraImagen)
                                    {
                                        <div class="carousel-item active">
                                            <img style="max-width:100%;max-height: 400px" class="card-img-top d-block text-center" src="@item.Foto" alt="First slide">
                                        </div>
                                        EsPrimeraImagen = false;
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img style="max-width: 100%;max-height: 400px" class="card-img-top d-block text-center" src="@item.Foto" alt="First slide">
                                        </div>
                                    }

                                }
                            }
                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>

                <div style="background-color: lightslategray" class="col-12 col-sm-12 col-md-12 col-lg-6 text-white">
                    <hr class="text-black-50" style="font-weight: bold;font-size: 2px;" />
                    <h4 class="card-title text-center">Información del Servicio</h4>
                    <hr class="text-black-50" style="font-weight: bold;font-size: 2px;" />
                    <p class="card-text">
                        <h3 style="font-weight: bold;">@Html.DisplayFor(model => model.NombreComercial)</h3>
                        <h3>@Html.DisplayFor(model => model.Nombre)</h3>
                    <p>@Html.DisplayFor(model => model.Descripcion)</p>
                    @*@foreach (var etiqueta in Model.Etiquetas) {<span class="badge badge-pill badge-primary">@etiqueta</span>}*@
                    <h3 class="text-success">$@Html.DisplayFor(model => model.Precio)</h3>

                    </p>
                </div>
                @*<a href="#!" class="btn btn-primary">Go somewhere</a>*@
            </div>
            <div class="card-footer">
                <div class="form-row mt-3">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-group text-center">
                            <label style="font-weight: bold;" asp-for="FechaInicio" type="" class="control-label h3">Fecha de Reserva</label>
                            <input  asp-for="FechaInicio" class="form-control" />
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    @*<div class="col-6">
                            <div class="form-group">
                                <label asp-for="Cita.FechaFin" class="control-label"></label>
                                <input asp-for="Cita.FechaFin" class="form-control" />
                                <span asp-validation-for="Cita.FechaFin" class="text-danger"></span>
                            </div>
                        </div>*@
                </div>
                <div class="form-row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label asp-for="Notas" class="control-label"></label>
                            <textarea asp-for="Notas" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Notas" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div>
        </div>


        <partial name="_ButtonsCardFooterPartialView" model="Button" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
