@model DashboardViewModel
    <!-- Begin Page Content -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <!-- Content Row -->
    <div class="row">
        <input type="hidden" name="total_pagos" id="total_pagos" value="@Model.TotalPagos" />
        <input type="hidden" name="total_ventas" id="total_ventas" value="@Model.TotalVentas" />
        <input type="hidden" name="total_citas" id="total_citas" value="@Model.TotalCitas" />
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ventas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalVentas.ToString("C")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Gastos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalPagos.ToString("C")</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Citas</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.TotalCitas</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Citas Pendientes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalCitasPendientes</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-center">

        <!-- Project Card Example -->
        <div class="card col-6 shadow mb-4">
            <div class="card-header col-12 py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ingresos / Gastos</h6>
            </div>
            <div class="card-body">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script>
        let total_pagos = parseFloat($("#total_pagos").val());
        let total_ventas = parseFloat($("#total_ventas").val());
        let total_citas = parseFloat($("#total_citas").val());
        var ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'doughnut',
            data:
            {
                labels: ["Total Ventas", "Total Gastos/Pagos"],
                datasets:
                    [
                        {
                            label: "Ingresos",
                            data: [total_ventas, total_pagos],
                            backgroundColor: ["#3cba9f", "#c45850"]
                        }
                    ]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "black",
                        fontSize: 18
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>

